@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk5hkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk_RkaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkxhjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0RkyFjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk0ZjaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjr0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf) format('truetype');
}
header {
  background-color: #d9e1ea;
  padding: 32px 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
header .header__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 106px;
}
header .header__title .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header__title .logo .logo a {
  display: block;
}
header .header__title .logo .logo p {
  font-size: 24px;
  color: #0e0e0e;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (max-width: 971px) {
  header .header__title .logo .logo p {
    font-size: 18px;
  }
}
header .header__title .title__user-info {
  display: flex;
  flex-direction: column;
}
header .header__title .title__user-info--mobile,
header .header__title .btn-logout--mobile {
  margin-bottom: 45px;
}
@media screen and (max-width: 971px) {
  header .header__title {
    margin-bottom: 34px;
  }
}
.btn-logout {
  background-color: #c5ccd4;
  border-radius: 10px;
  height: 44px;
  padding: 11px 22px;
  color: #0e0e0e;
  border: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.5px;
}
.btn-logout::before {
  content: "";
  width: 15.5px;
  height: 17.4px;
  background-image: url("img/logout.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.header__body h1 {
  font-size: 42px;
  color: #0e0e0e;
  font-weight: 700;
  margin-bottom: 12px;
}
@media screen and (max-width: 971px) {
  .header__body h1 {
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 480px) {
  .header__body h1 {
    margin-bottom: 8px;
  }
}
.header__body p {
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 400;
}
main {
  overflow: hidden;
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 32px 0px 179px;
  background-color: #ffffff;
}
main .main__turnovers {
  display: flex;
  gap: 17px;
  margin-bottom: 17px;
}
main .main__turnovers .nav-link {
  background-color: #ffffff;
  color: #0071ce;
  border: 1px solid #0071ce;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  main .main__turnovers .nav-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  main .main__turnovers {
    gap: 23px;
    margin-bottom: 21px;
  }
}
main .main__sorts {
  flex-wrap: wrap;
  display: inline-flex;
  gap: 12px;
  border-top: 1px solid #0071ce;
  padding-top: 13px;
  margin-bottom: 47px;
}
main .main__sorts button {
  background-color: #0071ce;
  color: #0071ce;
  outline: 1px solid #0071ce;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 971px) {
  main .main__sorts button {
    font-size: 14px;
    height: 35px;
  }
}
@media screen and (max-width: 480px) {
  main .main__sorts button {
    height: 32px;
  }
}
@media screen and (max-width: 971px) {
  main .main__sorts {
    gap: 10px;
    padding-top: 14px;
  }
}
@media screen and (max-width: 480px) {
  main .main__sorts {
    column-gap: 6px;
    row-gap: 9px;
    padding-top: 20px;
  }
}
main .main__turnovers .nav-link,
main .main__sorts .nav-link {
  border-radius: 10px;
}
main .main__filters {
  display: flex;
  gap: 35px;
  margin-bottom: 78px;
}
main .main__filters .filters__currency,
main .main__filters .filters__period {
  height: 25px;
  display: flex;
  gap: 5px;
  color: #0071ce;
}
main .main__filters .filters__visibility {
  display: flex;
  gap: 15px;
  color: #0071ce;
}
main .main__filters .filters__visibility .visibility__items {
  display: flex;
  gap: 10px;
}
main .main__filters .filters__visibility .visibility__items a {
  cursor: pointer;
  text-decoration: none;
}
main .main__filters .filters__visibility .visibility__items .visibility__item--active {
  cursor: default;
  font-weight: 700;
}
@media screen and (max-width: 971px) {
  main .main__filters .filters__visibility .visibility__items {
    gap: 12px;
  }
}
@media screen and (max-width: 480px) {
  main .main__filters .filters__visibility .visibility__items {
    gap: 15px;
  }
}
@media screen and (max-width: 971px) {
  main .main__filters .filters__visibility {
    gap: 4px;
  }
}
@media screen and (max-width: 971px) {
  main .main__filters {
    flex-wrap: wrap;
    margin-bottom: 49px;
  }
}
@media screen and (max-width: 480px) {
  main .main__filters {
    flex-direction: column;
    margin-bottom: 41px;
  }
}
@media screen and (max-width: 971px) {
  main {
    padding-bottom: 111px;
  }
}
@media screen and (max-width: 480px) {
  main {
    padding-bottom: 95px;
  }
}
.btn-back {
  gap: 5px;
  display: flex;
  align-items: center;
  color: #307de0;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 33px;
  text-decoration: none;
}
.btn-back::before {
  content: "";
  background-image: url("img/back_btn.svg");
  width: 5px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 971px) {
  .btn-back {
    margin-bottom: 39px;
  }
}
@media screen and (max-width: 480px) {
  .btn-back {
    margin-bottom: 30px;
  }
}
.nav-pills .nav-link.active {
  background-color: #0071ce;
}
.filters__select {
  background-color: #ffffff;
  border-radius: 5px;
  outline: 1px solid #0071ce;
  border: none;
  color: #0071ce;
  padding-left: 7px;
  padding-right: 45px;
  appearance: none;
  background-image: url("img/dropdown.svg");
  background-position: calc(100% - 7px) center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 480px) {
  .filters__select {
    flex-grow: 1;
  }
}
.main__table {
  display: block;
  overflow-x: auto;
  font-size: 16px;
  text-align: center;
}
.main__table .table__header {
  background-color: #F6F7F8;
  height: 101px;
}
.main__table .table__footer {
  background-color: #58B2514D;
  height: 45px;
}
.main__table .table__total {
  font-size: 18px;
}
.main__table .table__header,
.main__table .table__footer {
  font-weight: 600;
}
.main__table tbody td {
  min-width: 117px;
}
.main__table tbody tr {
  height: 47px;
}
.main__table tbody tr tr:nth-of-type(even) {
  background-color: #F6F7F8;
}
.main__table tbody tr tr:nth-of-type(odd) {
  background-color: transparent;
}
.main__table tbody tr .table__write-off {
  color: #E63027;
}
.table__header th:not(:first-child):not(:last-child),
.main__table tbody tr td:not(:first-child):not(:last-child) {
  border-left: 1px solid #DCDCDD;
  border-right: 1px solid #DCDCDD;
}
footer {
  background-color: #0071ce;
  height: 163px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
footer .footer__content {
  line-height: 23.73px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 37px;
  text-align: center;
  padding: 0px 50px;
}
@media screen and (max-width: 971px) {
  footer .footer__content {
    margin-bottom: 34px;
  }
}
@media screen and (max-width: 480px) {
  footer .footer__content {
    margin-bottom: 23px;
  }
}
@media screen and (max-width: 971px) {
  footer {
    height: 125px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    height: 108px;
  }
}
html * {
  font-family: Open Sans;
}
