header {
  background-color: #d9e1ea;
  padding: 32px 0px;
  flex-direction: column;
  display: flex;
  align-items: center;
}
.header__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 106px;
}
@media screen and (max-width: 971px) {
  .header__title {
    margin-bottom: 34px;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo__img {
  display: block;
}
.logo__label {
  font-size: 24px;
  color: #0e0e0e;
  font-weight: 600;
  margin-bottom: 0;
}
@media screen and (max-width: 971px) {
  .logo__label {
    font-size: 18px;
  }
}
.title__user-info {
  display: flex;
  flex-direction: column;
}
.title__user-info--mobile {
  margin-bottom: 45px;
}
.title__logout {
  background-color: #c5ccd4;
  border-radius: 10px;
  height: 44px;
  padding: 11px 22px;
  color: #0e0e0e;
  border: none;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.5px;
}
.title__logout::before {
  content: "";
  width: 15.5px;
  height: 17.4px;
  background-image: url("img/logout.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.header__body h1 {
  font-size: 42px;
  color: #0e0e0e;
  font-weight: 700;
}
.header__body p {
  color: #0e0e0e;
  font-size: 16px;
  font-weight: 400;
}
