@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@blue: rgba(0, 113, 206, 1);
@white: rgba(255, 255, 255, 1);
@empty: 0px;
html * {
    margin: @empty;
    padding: @empty;
}
footer {
    background-color: @blue;
    height: 163px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer__content {
    line-height: 23.73px;
    color: @white;
    font-size: 16px;
    font-weight: 400;
    font-family: Open Sans;
    margin-bottom: 37px;
}