@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@blue: rgba(0, 113, 206, 1);
@white: rgba(255, 255, 255, 1);
@gray: rgba(217, 225, 234, 1);
@black: rgba(14, 14, 14, 1);
@empty: 0px;
@subtitleSize: 16px;
@middleWeight: 400;
@semibold: 600;
@bold: 700;
@standardTopPadding: 32px;
@standardRadius: 10px;
@titleSize: 18px;
@standardGap: 15px;
html * {
    margin: @empty;
    padding: @empty;
    font-family: Open Sans;
}
header {
    background-color: @gray;
    height: 366px;
    padding: @standardTopPadding 0px;
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.header__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 106px;
}
.header__title__logo {
    display: flex;
    gap: 20px;
}
.header__title__logo__label {
    font-size: 24px;
    color: @black;
    font-weight: @semibold;
}
.header__title__user-info {
    display: flex;
    flex-direction: column;
}
.header__title__logout {
    background-color: rgba(197, 204, 212, 1);
    border-radius: @standardRadius;
    height: 44px;
    padding: 11px 22px;
    color: @black;
    border: none;
    font-size: @titleSize;
    font-weight: @semibold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10.5px;
}
.header__body__title {
    font-size: 42px;
    color: @black;
    font-weight: @bold;
}
.header__body__subtitle {
    color: @black;
    font-size: @subtitleSize;
    font-weight: @middleWeight;
}
main {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: @standardTopPadding 0px 179px;
    background-color: @white;
}
.main__back-btn {
    gap: 5px;
    display: flex;
    color: rgba(48, 125, 224, 1);
    font-weight: @semibold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 33px;
}
.main__turnovers {
    display: flex;
    gap: @standardGap;
    margin-bottom: 17px;
}
.main__turnovers__item {
    background-color: @white;
    color: @blue;
    border: 1px solid @blue;
    border-radius: @standardRadius;
    padding: 8px 16px;
    font-size: @titleSize;
}
.main__turnovers__item--active {
    background-color: @blue;
    color: @white;
}
.main__sorts {
    display: inline-flex;
    gap: @standardGap;
    border-top: 1px solid @blue;
    padding-top: 13px;
    margin-bottom: 47px;
}
.main__sorts__item {
    background-color: @white;
    color: @blue;
    border: 1px solid @blue;
    border-radius: @standardRadius;
    padding: 8px 16px;
    font-size: 16px;
}
.main__sorts__item--active {
    background-color: @blue;
    color: @white;
}
.main__filters {
    display: flex;
    gap: 35px;
    margin-bottom: 78px;
}
.main__filters__currency, .main__filters__period {
    height: 25px;
    display: flex;
    gap: 5px;
    color: @blue;
}
.main__filters__select {
    border-radius: 5px;
    outline: 1px solid @blue;
    border: none;
    color: @blue;
    padding-left: 7px;
    padding-right: 45px;
    appearance: none;
    background-image: url("/img/dropdown.svg");
    background-position: calc(100% - 7px) center;
    background-repeat: no-repeat;
}
.main__filters__visibility {
    display: flex;
    gap: @standardGap;
    color: @blue;
}
.main__filters__visibility__items {
    display: flex;
    gap: 10px;
}
.main__filters__visibility__item {
    cursor: pointer;
}
.main__filters__visibility__item--active {
    cursor: default;
    font-weight: @bold;
}
.main__table {
    font-size: 16px;
    text-align: center;
}
.main__table td {
    min-width: 117px;
}
.main__table__header td:not(:first-child):not(:last-child),
.main__table__row td:not(:first-child):not(:last-child) {
    border-left: 1px solid #DCDCDD;
    border-right: 1px solid #DCDCDD;
}
.main__table__header {
    background-color: #F6F7F8;
}
.main__table__row,
.main__table__header {
    height: 101px;
}
.main__table__row:nth-of-type(even) {
    background-color: transparent;
}
.main__table__row:nth-of-type(odd) {
    background-color: #F6F7F8;
}
.main__table__footer {
    background-color: #58B2514D;
    height: 45px;
}
.main__table__footer__total {
    font-size: @titleSize;
}
.main__table__header, .main__table__footer {
    font-weight: @semibold;
}
.main__table__row__write-off {
    color: #E63027;
}
footer {
    background-color: @blue;
    height: 163px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer__content {
    line-height: 23.73px;
    color: @white;
    font-size: @subtitleSize;
    font-weight: @middleWeight;
    margin-bottom: 37px;
}